In [ ]:
from datascience import *
import numpy as np

# Review of Tables

## Basics

- what is a CSV?
- read the CSV 'data/skyscrapers.csv' using `read_table()`
- display a table using `show()`
- sort a table using `sort()` ascending/descending
- select column(s) using `select()`
- drop column(s) using `drop()`

## Subsetting:
- subset rows using `where()`
    - skyscrapers in LA
    - skyscrapers in LA that were completed in 1971
- subset rows using `where()` and [predicates](http://www.data8.org/datascience/reference-nb/datascience-reference.html#Table.where-Predicates)
    - skyscrapers that were completed after 2014
    - skyscrapers that were completed in the 1990s
    
> some predicates: 
> - `are.equal_to()` 
> - `are.above()`,`are.below()`
> - `are.above_or_equal_to()`, `are.below_or_equal_to()`, 
> - `are.between()`, `are.between_or_equal_to()`, 

- skyscrapers that are a 'Tower' (using `are.containing()`) 
- skyscrapers that are in Chicago or Houston  (using `are.contained_in()`)

## Visualizations
1. read the csv `data/movies_by_year.csv`
1. Plot the number of movies vs the total gross using `scatter()`
    - add a trendline
1. Plot the number of movies over time using `plot()`

# Numbers 
Python has two real number types 
- int: an integer of any size
- float: a number with an optional fractional part

An **int** never has a decimal point; a **float** always does. A float might be printed using scientific notation
Three limitations of float values:
- They have limited size (but the limit is huge)
- They have limited precision of 15-16 decimal places
- After arithmetic, the final few decimal places can be wrong

## Basics
- ints vs floats
- multiplication of two ints -> int
- division of two ints -> float
- raise integer by integer -> int
- raise by float -> float
- inspect data type using `type()` function

## why integers and float
- (accurately) representing very large numbers
- floats have a limit in precision
    - `10/3 != 3 1/3`
    - difference between two precise numbers
    - $(\sqrt 13)^2 \neq 13$
    
## Converting ("Casting") between int and float
- careful with decimals/rounding

## Scientific notation
- divide by large number
- write scientific notation
- underscores for thousand separators

# Text / Strings
A string value is a snippet of text of any length
- `'a'`
- `'word'`
- `"there can be 2 sentences. Here's the second!"`

Strings consisting of numbers can be converted to numbers
- `int('12')`
- `float('1.2')`

Any value can be converted to a string
- `str(5)`


## Basics
- single quotes vs double quotes 
    - escaping
    - apostrophe
- add/concatenate strings
- multiply by int/float
- add string and number
    - convert
- convert from string to number
- string formatting

## Discussion question:
Assume you have run the following statements:
```python
x = 3
y = '4'
z = '5.6'
```

What's the source of the error in each example?
1. `x + y`
1. `x + int(y + z)`
1. `str(x) + int(y)`
1. `y + float(z)`

# Boolean
- inequalities
- logic (and / or)

# Types
We’ve seen 6 types so far:
- `int: 2`
- `float: 2.2`
- `str: 'Red fish, blue fish'`
- `builtin_function_or_method: abs`
- `Table`
- `boolean`


The `type` function can tell you the type of a value
- `type(2)`
- `type(2 + 2)`

An expression’s “type” is based on its value, not how it looks

- `x = 2`
- `type(x)`

## Arrays 
An array contains a sequence of values
- All elements of an array should have the same type
- Arithmetic is applied to each element individually
- Adding arrays adds elements (**if same length!**)
- A column of a table is an array

## Let's:
- Create an array using `make_array()`
- multiply/raise/add/divide array with/by constant
- sum up all elements in array using `sum()`
- calculate the average value
- create a new array 
- add two arrays
    - check the size of array using `len()`
- make an array of strings
- use numpy functions on arrays
    - `np.average()`
    - `np.median()`

## Columns of Tables are Arrays 
- select the height coumn of the skyscrapers using
    - `select`
    - `column`
- calculate the average height of the skyscrapers in SF vs LA