# Lecture 7

In this lecture we focus on visualizing the distribution of data.

In [1]:
from datascience import *
import numpy as np

In [2]:
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
plots.rcParams["patch.force_edgecolor"] = True

--- 

## Categorical Distribution 

How often does each possible value occur? There are a finite set of values and so we can visualize those counts as a bar chart.

Using the top movies data from the previous lecture.

In [3]:
top_movies = Table.read_table('data/top_movies_2017.csv')
top_movies

Title                            | Studio          | Gross     | Gross (Adjusted) | Year
Gone with the Wind               | MGM             | 198676459 | 1796176700       | 1939
Star Wars                        | Fox             | 460998007 | 1583483200       | 1977
The Sound of Music               | Fox             | 158671368 | 1266072700       | 1965
E.T.: The Extra-Terrestrial      | Universal       | 435110554 | 1261085000       | 1982
Titanic                          | Paramount       | 658672302 | 1204368000       | 1997
The Ten Commandments             | Paramount       | 65500000  | 1164590000       | 1956
Jaws                             | Universal       | 260000000 | 1138620700       | 1975
Doctor Zhivago                   | MGM             | 111721910 | 1103564200       | 1965
The Exorcist                     | Warner Brothers | 232906145 | 983226600        | 1973
Snow White and the Seven Dwarves | Disney          | 184925486 | 969010000        | 1937
... (190 rows omitted)

**Exercise:** Compute how many times does each studio appears in the list.  (Here we use the `group` function which we cover in more detail next week. [Data8 Reference Page](https://www.data8.org/sp23/reference/))

In [ ]:
toy = Table().with_columns("Pets", make_array("Cat", "Dog", "Dog", "Bird", "Cat", "Dog", "Cat"))
toy

**Exercise:** Construct a bar chart depicting the number of movies from each studio (the `"count"`).

**Exercise:** Construct a bar chart containing the percentage of the movies from each studio.

**Question:**
I attempted to construct a bar chart depicting the top 10 movies from each studio (the `"share"`).
- Where did I go wrong?
- Is this a distribution of my data?

In [ ]:
(
    studio_counts
    .take(np.arange(10))
    .sort('share', descending=True)
    .barh('Studio', 'share')
)

---

<center> Return to Slides </center>

---

## Distributions of Numerical Data

The most basic tool for visualizing the **distribution** of numerical data is the histogram.

In this part of the demo, we are going to examine the age of the top 200 films.

In [ ]:
top_movies.take(np.arange(5)) # just a preview

**Exercise:** Add a column containing the age of each movie to the `top_movies` table.

In [ ]:
this_year = 2023
ages = this_year - top_movies.column('Year')
top_movies = top_movies.with_column('Age', ages)
top_movies

**Exercise:** Split the `"Age"` column into the following bins

In [ ]:
my_bins = make_array(0, 5, 10, 15, 25, 40, 65, 102)

You can also use `np.arange` to create regular bins of a fixed size or even just specify a number.

---

<center> Return to Slides </center>

---

## Histograms 

We can construct histograms of numerical variables by calling `tbl.hist(...)` function using our `bins`.

**Exercise:** Make a histogram of `"Age"` using `my_bins`.

**Exercise:** Same thing as before but with equally spaced bins.

Using the interactive plotting tools:

## Exploring Data Distributions

**Exercise:** Make a histogram of the `"Gross (Adjusted)"` revenue for all the movies.

**Exercise:** Examine the distribution of dates for `"Disney"` and `"Buena Vista"`.

---

<center> Return to Slides </center>

---

## Height 
Lets compute the heights for the bars using our bins from before:

In [ ]:
top_movies.hist('Age', bins=my_bins, unit='Year')
binned_data

**Exercise:** Add a column containing the percentage of data in each bin.

**Exercise:** Compute the height of all the bins in binned data.

\begin{align}
\text{Area} =  \text{Width}\,\, \times  \,\, \text{Height} \quad \rightarrow \quad
\text{Height} =  \frac{\text{Area}}{ \text{Width}}
\end{align}

In [ ]:
binned_data

Restrict the table to just the left side bins by dropping the last row.  I will call this `bi` (for bin intervals) since we are going to be typing it a lot.

In [ ]:
bi = (
    
)
bi

Create an array of the right side of the bins by dropping the first row.

In [ ]:
right_bins = (

)
right_bins

Assemble the bi (Bin Interval) table by computing the width and the height of each column.