In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

import warnings
warnings.simplefilter("ignore")

# Comparing Two Samples

In [5]:
births = Table.read_table('data/baby.csv')

In [6]:
births

Birth Weight | Gestational Days | Maternal Age | Maternal Height | Maternal Pregnancy Weight | Maternal Smoker
120          | 284              | 27           | 62              | 100                       | False
113          | 282              | 33           | 64              | 135                       | False
128          | 279              | 28           | 64              | 115                       | True
108          | 282              | 23           | 67              | 125                       | True
136          | 286              | 25           | 62              | 93                        | False
138          | 244              | 33           | 62              | 178                       | False
132          | 245              | 23           | 65              | 140                       | False
120          | 289              | 25           | 62              | 125                       | False
143          | 299              | 30           | 66              | 136                       | True
140          | 351              | 27           | 68              | 120                       | False
... (1164 rows omitted)

This is an interesting and rich dataset. For today, we are only interested in two attributes/columns: 
- The birth weight of the child and
- whether or not the mother was smoking

Lets subset the dataset to only those two columns

Above, we saw that the dataset contains 1174 individuals/rows. Let's find out how many of the individuals were smokers and how many were not. What function would we use to quickly summarize the data?

Now let's visualize the weight distributions of the babies born to smoking mothers and those born to nonsmoking mothers. What chart would we use? Remember that we can specify the keyword argument `group` to overlay two distributions.

--- 
back to slides

---

# Test Statistic

**Questions**: 
- We have two samples (smoking, non-smoking). How do we summarize each sample into one number?
- Now we have two numbers. How do we combine those two numbers into a single number? (this is our statistic!)
- Should we use absolutes?
- Would large or small values for our statistic support our alternative?/ What values of our statistic are in favor of the alternative: positive or negative?

**Tasks:**
- Summarize samples
- Calculate the difference

**Tasks**
Write a function that 
- takes 
    - a table
    - the label of the numeric column
    - the label of the cateogry column
- computes the difference of the means
- returns the difference of the means

In [12]:
def difference_of_means(table, numeric_label, category_label):
    """
    Takes: 
       - name of table
       - column label of numerical variable
       - column label of categorical variable
       
    Returns: Difference of means of the two groups
    """
    
    #table with the two relevant columns
    reduced = ... 
    
    # table containing group means
    means_table = ...
    
    # array of group means
    means = ...
    
    return ...

---
back to slides

---
# Random Permutation (Shuffling)

In [36]:
staff = Table().with_columns(
    'Names', make_array('Jim', 'Pam', 'Dwight', 'Michael'),
    'Manager', make_array(False, False, True, True).astype(bool),
)
staff

Names   | Manager
Jim     | False
Pam     | False
Dwight  | True
Michael | True

**Tasks** 
- try out the different usages of `table.sample()`
- Randomly assign manager positions

---
back to slides

---

# Simulation Under Null Hypothesis
**Tasks:**
- shuffle the table (w/o replacement), and pull out the labels
- attach the shuffled labels to the original table
- user our `difference_of_means()` function and calculate the difference of means using the original labels and then of the shuffled labels

# Permutation Test
Now we have a way to simulate under the null! All that is left is doing what we have been doing in hypothesis testing before:
- Write a function `one_simulated_difference()` that 
    - takes
        - a table
        - the label of the numerical attribute
        - the label of the categorical attribute
    - simulates one difference (of the means) under the null; i.e.
    - shuffle the labels and 
    - call `difference_of_means()` with the suffled labels
- call that function a bunch of times
- plot a histogram
- eyball where our observed statistic sits

In [45]:
def one_simulated_difference(table, numeric_label, category_label):
    """
    Takes: 
       - name of table
       - column label of numerical variable
       - column label of categorical variable
       
    Returns: Difference of means of the two groups
    """
    
    # array of shuffled labels
    shuffled_labels = ...
    
    # table of numerical variable and shuffled labels
    shuffled_table = ...
    
    return ...

# Towards the conclusion
- call this function a bunch of times (e.g. 2500) and store the simulated differences of means in an array.
- make a histogram of those values
- eyeball where our observed statistic sits in the histogram

# P-Value
- Calculate the p-value

# Closing question
given the p-value (of 0), can we conclude that smoking **causes** lower birth rates?