In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [ ]:
2 + 9

In [ ]:
2 * 9

In [ ]:
2 / 9

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

In [ ]:
'hello'

## Names ##

In [ ]:
a = 4

In [ ]:
a

In [ ]:
b = 9

In [ ]:
b

In [ ]:
a * 3 # do multiplication with variable names
# these are comments and not executed when i run the cell
# just for my human eyes only
# you can take notes in your student copy of notebooks this way

# python is an interpreted language, and what that means is it's smart#
# it does stuff for us
# it converts a to the value 4 behind the scenes
# and then goes ahead and multiples 4 * 3

In [ ]:
total = a + b # do operations between multiple variables

# total = 4 + 9
# total = 13

In [ ]:
total

In [ ]:
a = 10 # overwrite values to variables
a

In [ ]:
a

In [ ]:
total # variables store values and not expressions
# total up above stored the value 13
# and not the expression a + b

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
'total' # string, which is a data type
# and we can store any characters, messages, english words with strings

# how is a string different from a comment?

In [ ]:
"total"

In [ ]:
"she said, 'hi'"

### Why Names?

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year # assignment statement
# we are assigning the value of 40 * 52 to the variable name hours_per_year

In [ ]:
hours_per_year # calling on the variable name

In [ ]:
# Minimum wage for businesses w/26 or more employees
# Goes up by $1/hr until 2022
ca_hourly_minimum_wage = 13.00

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

In [ ]:
40 * 13.00

In [ ]:
40 * 52 * 13.00

## Functions and Call Expressions

In [ ]:
abs(-5) # absolute value of -5 is 5

In [ ]:
abs(1 - 3) 
# abs(-2)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)
# abs(47 - 52)
# abs(-5)

In [ ]:
min(14, 15)

In [ ]:
help(min)

In [ ]:
min(14, 15, 13)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

In [ ]:
help(round)

## Tables ##

In [ ]:
cones = Table.read_table('data/cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
skyscrapers.where('completed', 2022)

In [ ]:
skyscrapers.where('material','steel').group('city').show()