In [ ]:
from datascience import *
import numpy as np

## Tables ##

In [ ]:
cones = Table.read_table('data/cones.csv')
cones
# 6 individuals (ice cream flavors)
# 2 attributes or columns of ice cream flavors

In [ ]:
cones.show(3) # this is really useful when we're dealing with a large table
# shows first three rows

In [ ]:
cones.show() # shows all rows
# careful with large tables though! it could "break" your notebook

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select(0)

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(0,1) # same as selecting by column label or name
# in python we start counting with 0

In [ ]:
cones.select("Flavor", 'Price') # excellent error!
# python wants me to read the error below
# useful info here

# we previously entered Flavor with quotes, which python then interprets as a variable
# which we have not defined
# when we wanted to enter in a column label, which needs to be a string

In [ ]:
cones.drop('Price')

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price # created a new table here

In [ ]:
cones

In [ ]:
help(Table.drop)

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones

In [ ]:
cones.where('Flavor', 'chocolate ') # sensitive to exact string format, like extra spaces

In [ ]:
cones.where('Flavor', 'Chocolate') # python is case sensitive
# but it is right in that there is no flavors that match the string "Chocolate" exactly
# only "chocolate"

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Price', descending=False)

In [ ]:
cones.sort('Flavor', descending=False)

### A more interesting table ##

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers.show() # or .show(200)
# material = what material skyscraper was built with
# city = location
# height = meters
# completed = year skyscraper was completed

# 200 skyscrapers in this table
# skyscrapers built from 1931 - 2015

In [ ]:
skyscrapers_name_height = skyscrapers.select('name', 'height') # assignment statement, 
# by default, nothing is displayed to the screen when we simply assign a new value to a variable name
# or in this case a table name

skyscrapers_name_height # calling on the new table i created

In [ ]:
skyscrapers_drop = skyscrapers.drop('completed', 'height', 'material')

In [ ]:
skyscrapers_drop

In [ ]:
skyscrapers.where('city', 'Los Angeles').show()

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').where('completed', 1909)

In [ ]:
skyscrapers.where('city', 'New York City')

In [ ]:
skyscrapers.sort('completed', descending = True).show(30) # default for sort, is smallest to largest or descending = False

In [ ]:
skyscrapers.sort('completed', descending = True )

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=False)

In [ ]:
chicago = skyscrapers.where('city', 'Chicago')
chicago

In [ ]:
chicago = chicago.drop('city')
chicago

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)

## Numbers ##

In [ ]:
4 * 5

In [ ]:
type(20)  # int is short for integer

In [ ]:
20 / 3  # float

In [ ]:
type(20 / 3 ) # also a float

In [ ]:
help(float)

In [ ]:
1234 ** 5 # 1234 ^ 5

In [ ]:
type(123456789 ** 100)

In [ ]:
4 / 700

In [ ]:
4 / 700000000000000000
# 0.000000000000000005714285714285714 is the same as 5.714285714285714 * 10^-18

In [ ]:
0.12345678901234567890123456789 # 29 decimal places
# limit to how many decimal places python can store in its memory for a float data type

# rounding error that occurs with floats and operations dealing with floats

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789
# what we would expect if we did this subtraction by hand 
# is 0.00000000000000000000123456789

# rounding error issue with floats

In [ ]:
10 ** 0.5 # square root of 10, we can raise it to the 1/2 power

In [ ]:
np.sqrt(10) 
# np is short for numpy, which is a package we imported in the top cell of our notebook
# sqrt is a function, that takes the square root of numbers

In [ ]:
16 ** 0.5

In [ ]:
np.sqrt(16)

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
20 / 10 # dividing two integers, but we get back a float data type
# default nature when performing division in python
# is to get back a float data type, even though we started with two integers

In [ ]:
int(20 / 10)
# int(2.0) = 2

In [ ]:
int(20 / 9)

In [ ]:
int(3/2) # cuts off decimal values, doesn't round up or down

In [ ]:
round(3/2) # rounds 1.5 up to 2, to nearest integer

In [ ]:
float(3) # function float takes in an integer, and converts it to a float data type

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
x

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
round(3.3)

In [ ]:
10 * 3.0

In [ ]:
x = 3 # integer value to x
y = '4' # string value to y
z = '5.6' # string value to z

In [ ]:
int('45.6')

In [ ]:
str(x)

In [ ]:
float('4')

In [ ]:
my_float = float('45.0') # converting a string '45.0' to a float 45.0
my_float = int(my_float) # converting a float 45.0 to a int 45
my_float

In [ ]:
int(float('45.0'))

In [ ]:
float('45') # converting string '45' to 45 and then converting to a float 45.0

In [ ]:
str(45)

In [ ]:
type(str(45.0))

## Strings ##

In [ ]:
'baby yoda'

In [ ]:
"baby yoda isn't yoda"

In [ ]:
'baby yoda isn't yoda'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'straw' + ' ' + 'berry'

In [ ]:
'ha' * 10

In [ ]:
'lo' * 5.5

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(False)

In [ ]:
help(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array = my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + my_array

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
len(my_array) / sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
len(tunas)

In [ ]:
np.average(my_array)
# my_array

In [ ]:
len(my_array)

In [ ]:
x = 3
y = '4'
z = '5.6'

In [ ]:
#x + y
#x + int(y + z)
y + float(z)

## Columns of Tables are Arrays ##

In [ ]:
sf = skyscrapers.where('city', 'San Francisco')
sf

In [ ]:
sf.select('height')

In [ ]:
sf.column('height')

In [ ]:
np.average(sf.column('height'))

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')

In [ ]:
np.average(la.column('height')) - np.average(sf.column('height'))