In [111]:
from datascience import *
import numpy as np

## Tables ##

In [ ]:
cones = Table.read_table('data/cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table ##

In [112]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers

name                              | material  | city          | height | completed
One World Trade Center            | composite | New York City | 541.3  | 2014
Willis Tower                      | steel     | Chicago       | 442.14 | 1974
432 Park Avenue                   | concrete  | New York City | 425.5  | 2015
Trump International Hotel & Tower | concrete  | Chicago       | 423.22 | 2009
Empire State Building             | steel     | New York City | 381    | 1931
Bank of America Tower             | composite | New York City | 365.8  | 2009
Stratosphere Tower                | concrete  | Las Vegas     | 350.22 | 1996
Aon Center                        | steel     | Chicago       | 346.26 | 1973
John Hancock Center               | steel     | Chicago       | 343.69 | 1969
WITI TV Tower                     | steel     | Shorewood     | 329    | 1962
... (190 rows omitted)

In [ ]:
skyscrapers_name_height = skyscrapers.select('name', 'height')

In [ ]:
skyscrapers_drop = skyscrapers.drop('completed', 'height', 'material')

In [ ]:
skyscrapers_drop

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').where('completed', 1909)

In [ ]:
skyscrapers.where('city', 'New York City')

In [ ]:
skyscrapers.sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
chicago = skyscrapers.where('city', 'Chicago')
chicago

In [ ]:
chicago = chicago.drop('city')
chicago

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)

## Numbers ##

In [ ]:
4 * 5

In [ ]:
type(20)  # int

In [ ]:
20 / 3  # float

In [ ]:
type(20 / 2 ) # also a float

In [ ]:
1234 ** 5

In [ ]:
123456789 ** 1234

In [ ]:
4 / 700

In [ ]:
4 / 700000000000000000

In [ ]:
0.12345678901234567890123456789

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
10 ** 0.5

In [ ]:
16 ** 0.5

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
20 / 10

In [ ]:
int(20 / 10)

In [ ]:
20 / 9

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
round(3.3)

In [ ]:
10 * 3.0

In [ ]:
x = 3
y = '4'
z = '5.6'

In [ ]:
my_float = float('45.0') # or int(float('45.0'))
my_float = int(my_float)
my_float

## Strings ##

In [ ]:
'baby yoda'

In [ ]:
"baby yoda isn't yoda"

In [ ]:
'baby yoda isn't yoda'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'straw' + ' ' + 'berry'

In [ ]:
'ha' * 10

In [ ]:
'lo' * 5.5

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(False)

In [ ]:
help(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array = my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + my_array

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
len(my_array) / sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
len(tunas)

In [ ]:
np.average(my_array)
# my_array

In [ ]:
len(my_array)

In [ ]:
x = 3
y = '4'
z = '5.6'

In [ ]:
#x + y
#x + int(y + z)
y + float(z)

## Columns of Tables are Arrays ##

In [ ]:
sf = skyscrapers.where('city', 'San Francisco')
sf

In [ ]:
sf.select('height')

In [ ]:
sf.column('height')

In [ ]:
np.average(sf.column('height'))

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')

In [ ]:
np.average(la.column('height')) - np.average(sf.column('height'))